Repository entrepreneur-interet-general/enki: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install-fronts-dependencies, install-backend-dependencies, install-cisu-package-dependencies, front-enki-build-and-test, front-couvops-build-and-test, back-build-and-test, cisu-build-and-test

.gitlab-ci.yml:

stages:
  - install
  - build-test

cache:
  paths:
    - fronts/node_modules/
    - backend/venv/

install-fronts-dependencies:
  image: node:latest
  stage: install
  script:
    - cd fronts
    - echo "Installing packages..."
    - npm install
  artifacts:
    paths:
      - fronts/node_modules/
  only:
    refs:
      - merge_requests
    changes:
      - fronts/*

install-backend-dependencies:
  image: python:3.8
  stage: install
  script:
    - cd backend
    - echo "Installing python env and requirements..."
    - python3 -m venv venv
    - source venv/bin/activate
    - pip install --upgrade pip
    - pip install -r requirements.txt
    - pip install -e ./src
  only:
    refs:
      - merge_requests
    changes:
      - backend/*
  artifacts:
    paths:
      - backend/venv/

install-cisu-package-dependencies:
  image: python:3.8
  stage: install
  script:
    - cd schema
    - echo "Installing python env and requirements..."
    - python3 -m venv venv
    - source venv/bin/activate
    - pip install --upgrade pip
    - pip install -r requirements.txt
    - pip install -r requirements.test.txt
    - pip install -e .
  artifacts:
    paths:
      - cisu/venv/
  only:
    refs:
      - merge_requests
    changes:
      - cisu/*


front-enki-build-and-test:
  image: node:latest
  stage: build-test
  script:
    - cd fronts
    - echo "Building enki front app..."
    # - npm run build enki
    # - echo "Testing enki front app..."
    # - npm test enki
  only:
    refs:
      - merge_requests
    changes:
      - fronts/*

front-couvops-build-and-test:
  image: node:latest
  stage: build-test
  script:
    - cd fronts
    - echo "Building couv-ops front app..."
    - npm run build couv-ops
    - echo "Testing core-couv-ops..."
    - npm test core-couv-ops
  only:
    refs:
      - merge_requests
    changes:
      - fronts/*

back-build-and-test:
  image: python:3.8
  stage: build-test
  script:
    - cd backend
    - source venv/bin/activate
    - echo "Unit testing..."
    - pytest tests/unit
    - echo "Integration testing..."
    - pytest tests/integration
    - echo "Flask e2e testing..."
    - pytest tests/e2e
  only:
    refs:
      - merge_requests
    changes:
      - backend/*

cisu-build-and-test:
  image: python:3.8
  stage: build-test
  script:
    - cd schema
    - source venv/bin/activate
    - echo "Unit testing..."
    - pytest tests/unit
  only:
    refs:
      - merge_requests
    changes:
      - cisu/*

add test xsd validation and fix xml files
  backend/src/domain/affairs/cisu/entities/commons/location_type.py
  cisu/notebook/Process Cisu Files .ipynb
  cisu/notebook/Template.ipynb
  cisu/src/templates/cisu.xml
  cisu/src/templates/message.xml
  cisu/tests/unit/test_cisu.py
Due: none

fix ci
  .gitlab-ci.yml
Due: none

add sge_messages ports and pg repository to handle sge events
  backend/.env.sample
  backend/docker-compose.dev.yml
  backend/src/adapters/postgres/orm.py
  backend/src/adapters/postgres/pg_task_repository.py
  backend/src/adapters/postgres/sge/__init__.py
  backend/src/adapters/postgres/sge/orm.py
  backend/src/adapters/postgres/sge/pg_affairs_repository.py
  backend/src/domain/affairs/entities/sge/sge_event_entity.py
  backend/src/domain/affairs/entities/sge/sge_message_entity.py
  backend/src/domain/affairs/ports/affair_repository.py
  backend/src/domain/affairs/ports/message_repository.py
  backend/src/entrypoints/flask_app.py
  backend/src/entrypoints/repositories.py
Due: install-backend-dependencies, back-build-and-test

duplicate docker compose for sge bindings
  backend/docker-compose.dev.sge.yml
Due: install-backend-dependencies, back-build-and-test

create sge entities
  backend/src/domain/affairs/entities/sge/__init__.py
  backend/src/domain/affairs/entities/sge/sge_enums.py
  backend/src/domain/affairs/entities/sge/sge_event_entity.py
  backend/src/domain/affairs/entities/sge/sge_message_entity.py
Due: none

update docker compose
  backend/docker-compose.dev.yml
Due: install-backend-dependencies, back-build-and-test

update structure
  .gitlab-ci.yml
  backend/Makefile
  backend/setup.py
  backend/tox.ini
Due: install-backend-dependencies, back-build-and-test

update ci
  .gitlab-ci.yml
Due: none

remove couvops views
  backend/src/entrypoints/flask_app.py
  backend/src/entrypoints/views/__init__.py
Due: none

update env files
  backend/.env.sample
  backend/.envs/.local/.env.flaskenv
  backend/.envs/.local/.env.pg
  backend/.envs/.local/.flaskenv
  backend/.envs/.local/.pg_env
  backend/.envs/.test/.env.pg
  backend/src/entrypoints/repositories.py
Due: install-backend-dependencies, back-build-and-test

add docker ignore
  backend/.dockerignore
Due: install-backend-dependencies, back-build-and-test

update docker compose
  backend/docker-compose.dev.sge.yml
  backend/docker-compose.dev.yml
  backend/docker-compose.ressources.yml
  backend/docker-compose.test.yml
Due: install-backend-dependencies, back-build-and-test

Moved readme instructions
  .vscode/settings.json
  README.rst
  auth-enki/README.rst
  fronts/README.rst
  fronts/apps/enki/src/app/app-auth-guard.service.ts
Due: install-fronts-dependencies, front-enki-build-and-test, front-couvops-build-and-test

Design login keycloak
  auth-enki/enki-theme/login/login.ftl
  auth-enki/enki-theme/login/resources/css/fonts.css
  auth-enki/enki-theme/login/resources/css/open-sans.css
  auth-enki/enki-theme/login/resources/css/styles.css
  auth-enki/enki-theme/login/resources/fonts/Overpass-Black.ttf
  auth-enki/enki-theme/login/resources/fonts/Overpass-BlackItalic.ttf
  auth-enki/enki-theme/login/resources/fonts/Overpass-Bold.ttf
  auth-enki/enki-theme/login/resources/fonts/Overpass-BoldItalic.ttf
  auth-enki/enki-theme/login/resources/fonts/Overpass-ExtraBold.ttf
  auth-enki/enki-theme/login/resources/fonts/Overpass-ExtraBoldItalic.ttf
  auth-enki/enki-theme/login/resources/fonts/Overpass-ExtraLight.ttf
  auth-enki/enki-theme/login/resources/fonts/Overpass-ExtraLightItalic.ttf
  auth-enki/enki-theme/login/resources/fonts/Overpass-Italic.ttf
  auth-enki/enki-theme/login/resources/fonts/Overpass-Light.ttf
  auth-enki/enki-theme/login/resources/fonts/Overpass-LightItalic.ttf
  auth-enki/enki-theme/login/resources/fonts/Overpass-Regular.ttf
  auth-enki/enki-theme/login/resources/fonts/Overpass-SemiBold.ttf
  auth-enki/enki-theme/login/resources/fonts/Overpass-SemiBoldItalic.ttf
  auth-enki/enki-theme/login/resources/fonts/Overpass-Thin.ttf
  auth-enki/enki-theme/login/resources/fonts/Overpass-ThinItalic.ttf
  auth-enki/enki-theme/login/resources/img/Republique_Francaise.png
  auth-enki/enki-theme/login/template.ftl
  auth-enki/enki-theme/theme.properties
Due: none

Added the bearer token from keycloak to affaires service
  fronts/apps/enki/src/app/affaires.service.ts
  fronts/apps/enki/src/app/app.component.html
  fronts/apps/enki/src/app/app.component.ts
Due: none

Added condition on some content & added keycloak clients & keycloak roles/groups
  auth-enki/realm-export.json
  fronts/apps/enki/src/app/app-routing.module.ts
  fronts/apps/enki/src/app/app.component.html
  fronts/apps/enki/src/app/app.component.ts
  fronts/apps/enki/src/app/app.module.ts
Due: none

Added keycloak login on angular
  fronts/apps/enki/src/app/app-auth-guard.service.spec.ts
  fronts/apps/enki/src/app/app-auth-guard.service.ts
  fronts/apps/enki/src/app/app-routing.module.ts
  fronts/apps/enki/src/app/app.component.html
  fronts/apps/enki/src/app/app.component.scss
  fronts/apps/enki/src/app/app.component.ts
  fronts/apps/enki/src/app/app.module.ts
  fronts/apps/enki/src/app/test-auth/test-auth.component.css
  fronts/apps/enki/src/app/test-auth/test-auth.component.html
  fronts/apps/enki/src/app/test-auth/test-auth.component.spec.ts
  fronts/apps/enki/src/app/test-auth/test-auth.component.ts
  fronts/apps/enki/src/assets/silent-check-sso.html
  fronts/apps/enki/src/environments/environment.ts
  fronts/package-lock.json
  fronts/package.json
Due: install-fronts-dependencies, front-enki-build-and-test, front-couvops-build-and-test

Added export of keycloak and changed role name
  README.rst
  auth-enki/realm-export.json
  fronts/apps/enki/src/app/app-routing.module.ts
Due: none

More design on login
  auth-enki/enki-theme/login/login.ftl
  auth-enki/enki-theme/login/messages/messages_fr.properties
  auth-enki/enki-theme/login/resources/css/styles.css
  auth-enki/enki-theme/login/resources/js/app.js
  auth-enki/enki-theme/login/template.ftl
  auth-enki/enki-theme/login/theme.properties
  auth-enki/enki-theme/messages/messages_fr.properties
  auth-enki/enki-theme/theme.properties
Due: none

Added password show action
  auth-enki/enki-theme/login/login.ftl
  auth-enki/enki-theme/login/resources/css/styles.css
  auth-enki/enki-theme/login/resources/img/eye-close.svg
  auth-enki/enki-theme/login/resources/img/eye-open.svg
  auth-enki/enki-theme/login/resources/js/app.js
  auth-enki/enki-theme/login/template.ftl
Due: none

Added design for desktop
  auth-enki/enki-theme/login/login.ftl
  auth-enki/enki-theme/login/resources/css/styles.css
  auth-enki/enki-theme/login/resources/img/background-france.png
  auth-enki/enki-theme/login/resources/img/illus.png
  auth-enki/enki-theme/login/template.ftl
Due: none

Organized keycloak SCSS files to use design system
  auth-enki/README.rst
  auth-enki/enki-theme/login/resources/css/main.css
  auth-enki/enki-theme/login/resources/css/main.css.map
  auth-enki/enki-theme/login/resources/scss/_styles.scss
  auth-enki/enki-theme/login/resources/scss/main.scss
  auth-enki/enki-theme/login/theme.properties
Due: none

Added design system node package
  auth-enki/enki-theme/login/resources/css/login.css
  fronts/apps/enki/src/assets/Marianne.jpg
  fronts/apps/enki/src/styles.scss
  fronts/package-lock.json
  fronts/package.json
Due: install-fronts-dependencies, front-enki-build-and-test, front-couvops-build-and-test

Better interfaces conf
  fronts/apps/enki/src/app/affaires.service.ts
  fronts/apps/enki/src/app/app.component.html
  fronts/apps/enki/src/app/map/map.component.ts
Due: none

Design for affaire
  fronts/apps/enki/src/app/app.component.html
  fronts/apps/enki/src/app/app.component.scss
  fronts/apps/enki/src/assets/layers.svg
  fronts/apps/enki/src/assets/pin.svg
  fronts/package-lock.json
  fronts/package.json
Due: install-fronts-dependencies, front-enki-build-and-test, front-couvops-build-and-test

Started design affaires
  fronts/apps/enki/src/app/app.component.html
  fronts/apps/enki/src/app/app.component.scss
  fronts/apps/enki/src/assets/natureDeFaits/accident-de-voiture.png
  fronts/apps/enki/src/assets/notification.svg
  fronts/package-lock.json
  fronts/package.json
Due: install-fronts-dependencies, front-enki-build-and-test, front-couvops-build-and-test

Get random affaire
  fronts/apps/enki/src/app/affaires.service.ts
  fronts/apps/enki/src/app/app.component.html
  fronts/apps/enki/src/app/app.component.ts
  fronts/apps/enki/src/app/map/map.component.ts
Due: none

Affaires update
  fronts/apps/enki/src/app/affaires.service.ts
  fronts/apps/enki/src/app/app.component.html
  fronts/apps/enki/src/app/app.component.ts
  fronts/apps/enki/src/app/map/map.component.ts
Due: none

update event entity
  backend/src/domain/tasks/entities/event_entity.py
Due: none

start to clean tasks and tags models
  backend/README.rst
  backend/requirements.dev.txt
  backend/src/adapters/postgres/orm.py
  backend/src/adapters/postgres/pg_tag_repository.py
  backend/src/adapters/postgres/pg_task_repository.py
  backend/src/domain/core/entity.py
  backend/src/domain/core/timestamped.py
  backend/src/domain/entities/base_entity.py
  backend/src/domain/entities/event_entity.py
  backend/src/domain/entities/group_entity.py
  backend/src/domain/entities/info_entity.py
  backend/src/domain/tags/entities/__init__.py
  backend/src/domain/tags/entities/tag_entity.py
  backend/src/domain/tasks/entities/event_entity.py
  backend/src/domain/tasks/entities/group_entity.py
  backend/src/domain/tasks/entities/info_entity.py
  backend/src/domain/tasks/entities/tag_entity.py
  backend/src/domain/tasks/entities/task_entity.py
  backend/src/domain/tasks/ports/__init__.py
  backend/src/domain/tasks/ports/tag_repository.py
  backend/src/domain/tasks/ports/task_repository.py
  backend/src/domain/tasks/services/__init__.py
  backend/src/domain/tasks/services/tag_service.py
  backend/src/domain/tasks/services/task_service.py
  backend/src/entrypoints/repositories.py
  backend/src/entrypoints/ressources/tag_ressources.py
  backend/src/entrypoints/ressources/task_ressource.py
  backend/src/entrypoints/serializers.py
  backend/src/entrypoints/views/enki/v1/resources/task_ressource.py
  backend/tests/unit/test_tag_service.py
  backend/tests/unit/test_task_service.py
Due: install-backend-dependencies, back-build-and-test

udapte tests
  backend/tests/unit/test_task_service.py
  backend/tests/utils/filter.py
Due: none

fix inheritance initialization
  backend/src/domain/tasks/entities/event_entity.py
  backend/src/domain/tasks/entities/tag_entity.py
  backend/src/domain/tasks/entities/task_entity.py
  backend/src/domain/tasks/services/task_service.py
Due: none

update tests
  backend/src/domain/tasks/entities/task_entity.py
  backend/tests/unit/test_task_service.py
Due: none

update tests
  backend/.gitignore
  backend/src/domain/tasks/entities/tag_entity.py
  backend/src/domain/tasks/entities/task_entity.py
  backend/src/entrypoints/ressources/task_ressource.py
  backend/src/entrypoints/serializers.py
  backend/src/entrypoints/views/enki/v1/resources/affair_ressource.py
  backend/src/entrypoints/views/enki/v1/resources/task_ressource.py
  backend/src/tests/__init__.py
  backend/src/tests/conftest.py
  backend/src/tests/e2e/__init__.py
  backend/src/tests/e2e/test_task_api.py
  backend/src/tests/factories/__init__.py
  backend/src/tests/integration/__init__.py
  backend/src/tests/integration/csv_test_helpers.py
  backend/src/tests/unit/__init__.py
  backend/src/tests/unit/conftest.py
  backend/src/tests/unit/test_tag_service.py
  backend/src/tests/unit/test_task_service.py
  backend/src/tests/utils/__init__.py
  backend/src/tests/utils/filter.py
Due: install-backend-dependencies, back-build-and-test

make entity dataclass
  backend/src/domain/core/entity.py
Due: none

update tests
  backend/tests/unit/test_tag_service.py
  backend/tests/unit/test_task_service.py
Due: none

update tag task repo
  backend/src/tests/unit/test_task_add_tags_service.py
Due: none

add e2e tests with status codes
  backend/src/domain/affairs/ports/affair_repository.py
  backend/src/domain/tasks/ports/tag_repository.py
  backend/src/domain/tasks/ports/task_repository.py
  backend/src/tests/e2e/test_tag_api.py
  backend/src/tests/e2e/test_tag_to_task_api.py
  backend/src/tests/e2e/test_task_api.py
Due: none
