Repository entrepreneur-interet-general/enki: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install-fronts-dependencies, install-backend-dependencies, install-cisu-package-dependencies, front-enki-build-and-test, front-couvops-build-and-test, back-build-and-test, cisu-build-and-test

install-fronts-dependencies:
  image: node:latest
  stage: install
  script:
  - cd fronts
  - echo "Installing packages..."
  - npm install
  artifacts:
    paths:
    - fronts/node_modules/

install-backend-dependencies:
  image: python:3.8
  stage: install
  script:
  - cd backend
  - echo "Installing python env and requirements..."
  - python3 -m venv venv
  - source venv/bin/activate
  - pip install --upgrade pip
  - pip install -r requirements.txt
  - pip install -e ./src
  artifacts:
    paths:
    - backend/venv/

install-cisu-package-dependencies:
  image: python:3.8
  stage: install
  script:
  - cd schema
  - echo "Installing python env and requirements..."
  - python3 -m venv venv
  - source venv/bin/activate
  - pip install --upgrade pip
  - pip install -r requirements.txt
  - pip install -r requirements.test.txt
  - pip install -e .
  artifacts:
    paths:
  ...

front-enki-build-and-test:
  image: node:latest
  stage: build-test
  script:
  - cd fronts
  - echo "Building enki front app..."

front-couvops-build-and-test:
  image: node:latest
  stage: build-test
  script:
  - cd fronts
  - echo "Building couv-ops front app..."
  - npm run build couv-ops
  - echo "Testing core-couv-ops..."
  - npm test core-couv-ops

back-build-and-test:
  image: python:3.8
  stage: build-test
  script:
  - cd backend
  - source venv/bin/activate
  - echo "Unit testing..."
  - pytest tests/unit
  - echo "Integration testing..."
  - pytest tests/integration
  - echo "Flask e2e testing..."
  - pytest tests/e2e

cisu-build-and-test:
  image: python:3.8
  stage: build-test
  script:
  - cd schema
  - source venv/bin/activate
  - echo "Unit testing..."
  - pytest tests/unit

Added in app memory to work without server
  fronts/apps/enki/data/interventionsx10.json
  fronts/apps/enki/src/app/affaires.service.ts
  fronts/apps/enki/src/app/app.component.html
  fronts/apps/enki/src/app/app.component.ts
  fronts/apps/enki/src/app/app.module.ts
  fronts/apps/enki/src/app/in-memory-data.service.spec.ts
  fronts/apps/enki/src/app/in-memory-data.service.ts
  fronts/apps/enki/src/app/interventions/detail/detail-intervention.component.html
  fronts/apps/enki/src/app/interventions/detail/detail-intervention.component.scss
  fronts/apps/enki/src/app/interventions/detail/detail-intervention.component.ts
  fronts/apps/enki/src/app/interventions/interventions.service.spec.ts
  fronts/apps/enki/src/app/interventions/interventions.service.ts
  fronts/apps/enki/src/app/interventions/liste/liste-interventions.component.html
  fronts/apps/enki/src/app/interventions/liste/liste-interventions.component.ts
  fronts/apps/enki/src/app/test-auth/test-auth.component.css
  fronts/apps/enki/src/app/test-auth/test-auth.component.html
  fronts/apps/enki/src/app/test-auth/test-auth.component.spec.ts
  fronts/apps/enki/src/app/test-auth/test-auth.component.ts
  fronts/apps/enki/src/environments/environment.local.ts
  fronts/apps/enki/src/environments/environment.prod.ts
  fronts/apps/enki/src/environments/environment.ts
  fronts/apps/enki/tsconfig.json
  fronts/package-lock.json
  fronts/package.json
  fronts/workspace.json
  package-lock.json
Due: install-fronts-dependencies, front-enki-build-and-test, front-couvops-build-and-test

Removed hero
  fronts/apps/enki/src/app/in-memory-data.service.ts
Due: none

Update env vars
  fronts/apps/enki/src/app/in-memory-data.service.ts
  fronts/apps/enki/src/environments/environment.prod.ts
Due: none

Improve code
  fronts/apps/enki/src/app/app.component.html
  fronts/apps/enki/src/app/in-memory-data.service.ts
  fronts/apps/enki/src/app/interventions/detail/detail-intervention.component.ts
  fronts/apps/enki/src/app/interventions/interventions.service.ts
Due: none

Local data api
  fronts/apps/enki/data/interventionsx10.json
  fronts/apps/enki/src/app/in-memory-data.service.ts
  fronts/apps/enki/src/app/interventions/detail/detail-intervention.component.ts
  fronts/apps/enki/src/app/interventions/interventions.service.ts
Due: none

add notebook diagram
  README.rst
  auth-enki/Makefile
  auth-enki/docker-compose.pg.yml
  auth-enki/docker-compose.yml
  backend/README.rst
  backend/docker-compose.dev.yml
  backend/notebook/Diagram.ipynb
  backend/notebook/__init__.py
  backend/notebook/enki.png
Due: install-backend-dependencies, back-build-and-test

Change gitignore to deploy
  fronts/.gitignore
Due: install-fronts-dependencies, front-enki-build-and-test, front-couvops-build-and-test

Added doc in readme
  front/enki/README.md
Due: none

Added npm install
  front/enki/README.md
Due: none

update elk and auth config
  auth/Makefile
  auth/docker-compose.yml
  elk/Makefile
Due: none

update backend config
  backend/src/entrypoints/config.py
Due: none

add Make file and update networks in docker compose
  front/Makefile
  front/docker-compose.yml
Due: none

update auth and kong to automatically import seeds
  auth/Makefile
  auth/docker-compose.yml
  auth/docker/Dockerfile.provision
  auth/docker/requirements.txt
  auth/docker/scripts/groups.csv
  auth/docker/scripts/import_users.py
  auth/docker/scripts/roles.csv
  auth/docker/scripts/users_seed.csv
  auth/notebooks/Import users.ipynb
  auth/notebooks/Keycloak Client.ipynb
  auth/notebooks/Untitled.ipynb
  auth/realms/enki-realm-export.json
  auth/scripts/.gitignore
  auth/scripts/READ_ME.txt
  auth/scripts/agentTest.csv
  auth/scripts/creation-utilisateur.conf
  auth/scripts/creationUsersFromCSV.py
  backend/Makefile
  backend/docker-compose.yml
  backend/requirements.txt
  backend/src/adapters/elasticsearch/affair_repository.py
  backend/src/entrypoints/config.py
  backend/src/entrypoints/extensions.py
  backend/src/entrypoints/flask_app.py
  front/docker-compose.yml
  front/src/app/app.module.ts
  kong/Dockerfile
  kong/Makefile
  kong/README.md
  kong/docker-compose.yml
  kong/docker/Dockerfile.provision
  kong/docker/requirements.txt
  kong/docker/scripts/kong_oidc_import.py
  kong/notebooks/Kong OIDC.ipynb
Due: install-backend-dependencies, back-build-and-test

update README and dockerfile to use same default network
  Makefile
  README.md
  README.rst
  auth/Makefile
  auth/docker-compose.provision.yml
  auth/docker-compose.yml
  backend/docker-compose.yml
  elk/docker-compose.yml
  kong/Makefile
  kong/docker-compose.provision.yml
  kong/docker-compose.yml
Due: install-backend-dependencies, back-build-and-test

change default network
  auth/docker-compose.yml
  backend/docker-compose.yml
  kong/docker-compose.yml
Due: install-backend-dependencies, back-build-and-test

wip
  auth/Makefile
  auth/docker-compose.provision.yml
  auth/docker-compose.yml
  kong/Makefile
  kong/docker-compose.provision.yml
  kong/docker-compose.yml
Due: none

add user name password for kong db
  kong/docker-compose.yml
Due: none

Integrated right menu + dashboard
  front/enki/src/app/app-routing.module.ts
  front/enki/src/app/app.component.html
  front/enki/src/app/app.component.scss
  front/enki/src/app/app.module.ts
  front/enki/src/app/dashboard/dashboard.component.html
  front/enki/src/app/dashboard/dashboard.component.scss
  front/enki/src/app/dashboard/dashboard.component.spec.ts
  front/enki/src/app/dashboard/dashboard.component.ts
  front/enki/src/app/interventions/interventions.service.ts
  front/enki/src/app/interventions/liste/liste-interventions.component.html
  front/enki/src/app/interventions/liste/liste-interventions.component.scss
  front/enki/src/app/ui/header/header.component.html
  front/enki/src/app/ui/header/header.component.scss
  front/enki/src/app/ui/header/header.component.ts
  front/enki/src/styles.scss
Due: none

add example envs
  auth/example.env
  kong/example.env
Due: none

update envs
  .gitlab-ci.yml
  kong/example.env
Due: none

fix some imports and envs files
  auth/Makefile
  auth/docker-compose.yml
  auth/docker/Dockerfile.provision
  auth/docker/scripts/import_users.py
  auth/example.env
  auth/realms/enki-realm-export.json
  elk/docker-compose.yml
  kong/Makefile
  kong/docker/scripts/kong_oidc_import.py
Due: none

remove docker from ci
  .gitlab-ci.yml
Due: none

update README and make files
  README.md
  auth/Makefile
  auth/realms/enki-realm-export.json
  backend/Makefile
  elk/Makefile
  kong/Makefile
  kong/docker/Dockerfile.provision
Due: install-backend-dependencies, back-build-and-test

update README
  README.md
Due: none

Added widgets design on dashboard
  front/enki/src/app/app.component.html
  front/enki/src/app/app.component.scss
  front/enki/src/app/dashboard/dashboard.component.html
  front/enki/src/app/dashboard/dashboard.component.scss
  front/enki/src/app/interventions/liste/liste-interventions.component.scss
  front/enki/src/app/ui/svg-definitions/svg-definitions.component.html
  front/enki/src/assets/add.svg
  front/enki/src/assets/contacts.svg
  front/enki/src/assets/news.svg
  front/enki/src/assets/phone.svg
  front/enki/src/assets/post-it.svg
  front/enki/src/assets/stats.svg
  front/enki/src/assets/sun.svg
  front/enki/src/assets/water.svg
  front/enki/src/styles.scss
Due: none

start to add resource repository
  backend/.envs/.local/example.env.minio
  backend/docker-compose.yml
  backend/requirements.txt
  backend/src/adapters/minio/__init__.py
  backend/src/adapters/minio/minio_resource_repository.py
  backend/src/domain/core/entity.py
  backend/src/domain/tasks/entities/event_entity.py
  backend/src/domain/tasks/entities/resource_entity.py
  backend/src/domain/tasks/ports/resource_content_repository.py
  backend/src/domain/tasks/ports/resource_repository.py
  backend/src/domain/tasks/ports/tag_repository.py
  backend/src/domain/tasks/ports/task_repository.py
Due: install-backend-dependencies, back-build-and-test

Added roles and groups in realm keycloak export
  auth/realms/enki-realm-export.json
Due: none

Updated readme more detailed
  README.md
Due: none

Updated front to point on right keycloak url
  front/docker-compose.yml
  front/src/app/app.module.ts
Due: none

Removed useless instructions in readme
  README.md
Due: none

change ports and dashboard
  backend/src/domain/affairs/entities/affair_entity.py
  backend/src/domain/affairs/ports/affair_repository.py
  backend/src/service_layer/handlers.py
  elk/docker-compose.yml
  front/src/app/dashboard/dashboard.component.html
  front/src/app/dashboard/dashboard.component.scss
  front/src/app/dashboard/dashboard.component.spec.ts
  front/src/app/dashboard/dashboard.component.ts
Due: none

Change interventions map
  front/src/app/interventions/interventions.service.ts
Due: none

Path conditions:
  install-fronts-dependencies: any of: fronts/*
  install-backend-dependencies: any of: backend/*
  install-cisu-package-dependencies: any of: cisu/*
  front-enki-build-and-test: any of: fronts/*
  front-couvops-build-and-test: any of: fronts/*
  back-build-and-test: any of: backend/*
  cisu-build-and-test: any of: cisu/*
